.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f7ebc8;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #5b5b5b;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;

}

.navbar a.active {
    color: #359c8e;
    font-weight: bold;
}

.navbar:hover {
    transition: ease-in-out;
}

.font {
    font-family: vazir;
}

.main-bg-color {
    background-color: rgb(212, 255, 222);
}

.tab-bootom {
    align-items: center;
    align-content: center;
    justify-items: center;
}